* {
  .search {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    .searchContainer {
      width: 100%;
      position: relative;
    }
    .button {
      background: rgba(0,0,0,0);
      font-size: 2em;
      color: red;
      cursor: pointer;
      padding: 0;
      border: none;
    } 
    .button:hover {
      text-shadow: 2px 2px 2px black;
    }
    .input {
      font-family: 'teko';
      margin: 20px auto;
      padding: 10px;
      font-size: 1.8em;
      float: left;
      width: 100%;
      border: 3px solid black;
      height: 19px;
      border-radius: 5px;
      outline: none;
      :focus {
        color: #00B4CC;
      }
    }
    .searchButton {
      position: absolute;
      top: 20px;  
      right: -25px;
      width: 45px;
      height: 45px;
      border: 1px solid black;
      background: black;
      text-align: center;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      font-size: 20px;
    }
    .fa {
      font-family: 'FontAwesome';
    }
   
  }
  .container {
    width: 100vw;
    background: black;
    img {
      max-width: 800px;
      width: 100vw;
      display: block;
      margin: 0 auto;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin-left: -20px;
    li {
      margin: 15px 15px;
      position: relative;
      .name {
        position: absolute;
        text-align: center;
        top: -40px;
        background: rgba(255, 255, 255, 0.55);
        padding: 15px 0 0 0;
        width: 100%;
        color: black;
        text-shadow: 1px 1px white;
        z-index: 1;
        font-family: 'teko';
        font-size: 2em;
      }
      img {
        box-shadow: 4px 4px 4px black;
        object-fit: cover;
        object-position: top;
        z-index: -1;
        height: 350px;
        width: 240px;
      }
      img:hover {
        box-shadow: 2px 2px red;
        
      }
    }
  }
};
