* {
  .button {
    margin: 20px 10px;
    width: 50px;
  }
  .input {
    font-family: 'teko';
    margin: 20px 10px;
    width: 200px;
    padding: 3px;
    font-size: 1.6em;
  }
  .container {
    width: 100%;
    background: black;
    align-items: center;
    img {
      width: 800px;
      display: block;
      margin: 0 auto;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin-left: -10px;
    li {
      margin: 15px 15px;
      position: relative;
      .name {
        position: absolute;
        text-align: center;
        top: -40px;
        background: rgba(255, 255, 255, 0.5);
        padding: 10px 0;
        width: 100%;
        color: white;
        text-shadow: 2px 2px black;
        z-index: 1;
        font-family: 'teko';
        font-size: 2.5em;
      }
      img {
        box-shadow: 4px 4px 4px black;
        object-fit: cover;
        object-position: top;
        z-index: -1;
        height: 500px;
        width: 325px;
      }
      img:hover {
        box-shadow: 2px 2px red;
        
      }
    }
  }
};
